<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        .headtext {
            background-color: #40b8b8; /* Green */
            /* border: none; */
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>
<body>

    <table>
        <!-- table header -->
        {% if users %}
            <tr >
                <th>
                    ---
                </th>
                <th class = "headtext" style = "margin-left:18em">
                    Email
                </th>
                
                <th  class = "headtext">
                    First Name
                </th>

                <th  class = "headtext">
                    Last Name
                    
                </th>
                <th class = "headtext">
                    Address
                </th>
                <th class = "headtext">
                    Seller / Buyer
                </th>
            </tr>
        {% endif %}
      
        <!-- table rows -->
        {% for user in users %}
           
            <tr>
                <td class = "headtext">
                    {{loop.index0+1}}
                </td>
                <td>
                    <a href="{{ url_for('user', user_id=user.Email) }}">{{ user.Email }}</a>
                </td>
                <td>
                    {{ user.Name }}
                </td>
                <td>
                    {{ user.Surname }}
                </td>
                <td>
                    {{ user.Adress }}
                </td>
                <td>
                    {% if user.saticiMi == true %}
                        <p>Seller</p>
                    {% else %}
                        <p>Buyer</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
      </table>

</body>
</html>