<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .headtext {
            background-color: #40b8b8; /* Green */
            /* border: none; */
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>
<body>

    <table class="table table-striped">
        <thead>
            {% if users %}
            <tr >
                <th>
                    ---
                </th>
                <th scope="col">
                    Email
                </th>
                
                <th scope="col">
                    First Name
                </th>

                <th  scope="col">
                    Last Name
                    
                </th>
                <th scope="col">
                    Address
                </th>
                <th scope="col">
                    Seller / Buyer
                </th>
            </tr>
        {% endif %}
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td class = "headtext" scope="row">
                    {{loop.index0+1}}
                </td>
                <td>
                    <a href="{{ url_for('user', user_id=user.Email) }}">{{ user.Email }}</a>
                </td>
                <td>
                    {{ user.Name }}
                </td>
                <td>
                    {{ user.Surname }}
                </td>
                <td>
                    {{ user.Adress }}
                </td>
                <td>
                    {% if user.saticiMi == true %}
                        <p>Seller</p>
                    {% else %}
                        <p>Buyer</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>


    <table>
        <!-- table header -->
       
      
        <!-- table rows -->
        
      </table>

</body>
</html>